body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul,ol {
    list-style: none;
}


a {
    text-decoration: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #4D5AE5;
    vertical-align: middle;
    line-height: 1.17px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo_span {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #2E2F42;
    vertical-align: middle;

}

.nav_menu a {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #2E2F42;
    letter-spacing: 0.02em;
}

.nav_menu a:hover {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #404BBF;
}

.nav_menu a:active {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #404BBF;
}

.nav_menu a:focus {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #404BBF;
}

.nav_address a {
    font-size: 16px;
    line-height: 24px;
    color: #434455;
    font-style: normal;
    letter-spacing: 0.02em;
}

.nav_address a:hover {
    font-size: 16px;
    line-height: 24px;
    color: #404BBF;
}

.nav_address a:focus {
    font-size: 16px;
    line-height: 24px;
    color: #404BBF;
}

.section_solution {
    background-color: #2e2f42;
}

.section_solution_title {
    font-size: 56px;
    line-height: 1.07;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 0.02em;
}
.button_order {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    vertical-align: middle;
    color: #FFFFFF;
    background-color: #4D5AE5;
    letter-spacing: 0.04em;
    cursor: pointer;

}

.button_order:hover {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    vertical-align: middle;
    color: #FFFFFF;
    background-color: #404BBF;
    cursor: pointer;
}

.button_order:focus {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    vertical-align: middle;
    color: #FFFFFF;
    background-color: #404BBF;
    cursor: pointer;
}

.section_benefit {
    background-color: #F4F4FD;
}

.benefit_title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.benefit_p {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}


.our_team {
    background-color: #F4F4FD;

}

.our_team_title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
}

.our_team_img {
    background-color: #FFFFFF;
}

.our_portfolio_title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}


