body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #2E2F42;
    background-color: #FFFFFF;
}

ul,
ol {
    list-style: none;
}

p {
    color: #434455;
    font-size: 16px;
    line-height: 24px;
}

h1 {
    font-size: 56px;
    line-height: 60px;
    font-weight: 700;
    color: #FFFFFF;
}

h2 {
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
    color: #2E2F42;
}

h3 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    color: #2E2F42;
}

a {
    text-decoration: none;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    color: #2E2F42;
    vertical-align: middle;
}

.logo_span {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    color: #4D5AE5;
    vertical-align: middle;
}

.nav_menu a {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #2E2F42;
}

.nav_menu a:hover {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #404BBF;
}

.nav_menu a:active {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #404BBF;
}

.nav_address a {
    font-size: 16px;
    line-height: 24px;
    color: #434455;
}

.nav_address a:hover {
    font-size: 16px;
    line-height: 24px;
    color: #404BBF;
}

.button_order {
    height: 56px;
    width: 169px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    vertical-align: middle;
    color: #FFFFFF;
    background-color: #4D5AE5;

}

.button_order:hover {
    height: 56px;
    width: 169px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    vertical-align: middle;
    color: #FFFFFF;
    background-color: #404BBF;
    cursor: pointer;

}